VITE_FIREBASE_API_KEY=AIzaSyBJ2U4Yu-wjml3K2W1S8Varoie90tvHMq4
VITE_FIREBASE_AUTH_DOMAIN=desieats-online.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=desieats-online
VITE_FIREBASE_STORAGE_BUCKET=desieats-online.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=881044837279
VITE_FIREBASE_APP_ID=1:881044837279:web:6e2ae8ef3c1046fe2be3aa
VITE_FIREBASE_MEASUREMENT_ID=G-S1X79B1X08
